* {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-weight: 700;
  text-align: center;
}

p {
  font-weight: 300;
}

#gameboard {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.game-square {
  color: white;
  text-align: center;
  background-color: gray;
  position: absolute;
  box-sizing: border-box;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.missed-game-square {
  background-color: blue;
}

.hit-game-square {
  background-color: red;
}
